# Node.js modules
node_modules/

# Environment variables
.env

# Logs
logs
*.log
npm-debug.log*

# OS-specific
.DS_Store
Thumbs.db

# Editor/IDE-specific
.vscode/
.idea/

# Dependency lock (optional: if you're using yarn)
yarn.lock
